body {
  width: 50%;
  font-family: "Libre Franklin", sans-serif;
  margin: 0 auto;
  font-size: 20px;
  box-sizing: border-box;
}

header {
  margin-top: 70px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #979797;
}

h1 {
  font-weight: 300;
  color: #979797;
  margin-top: 50px;
}

h1 b {
  color: black;
}

.form {
  width: 540px;
  margin: 0 auto;
}

form {
  margin-top: 30px;
  margin-bottom: 70px;
}

input {
  border-radius: 30px;
  font-size: 20px;
}

#email {
  border: solid 1px #979797;
  height: 50px;
  width: 350px;
  padding-left: 20px;
  opacity: 50%;
}
#email:focus,
#submit:focus,
button:focus {
  outline: none;
}

#submit {
  color: white;
  font-size: 16px;
  background-color: hsl(223, 87%, 63%);
  border: none;
  height: 56px;
  width: 160px;
  box-shadow: 0px 3px 15px -1px hsl(223, 87%, 63%);
}
#error {
  text-align: left;
  padding-left: 25px;
  font-size: 14px;
  color: red;
  font-style: italic;
  visibility: hidden;
}

#main_image_container {
  width: 90%;
  margin: 0 auto;
}
#main_image_container img {
  width: 100%;
}

#social {
  width: 125px;
  height: 30px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 30px;
  border: solid 1px rgba(151, 151, 151, 30%);
  border-radius: 50%;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.button:hover {
  background-color: #3b5998;
  outline: none;
}

.facebook {
  background-image: url(/images/facebook.png);
}
.facebook:hover {
  background-image: url(/images/facebook_hover.png);
}
.twitter {
  background-image: url(/images/twitter.png);
}
.twitter:hover {
  background-image: url(/images/twitter_hover.png);
}
.instagram {
  background-image: url(/images/instagram.png);
}
.instagram:hover {
  background-image: url(/images/instagram_hover.png);
}

@media only screen and (max-width: 400px) {
  body {
    width: 90%;
  }

  .form {
    width: 100%;
  }

  #email {
    width: 90%;
  }

  #submit {
    margin-top: 10px;
    width: 96%;
  }
}
