body {
  width: 1440px;
  font-family: "Libre Franklin", sans-serif;
  margin: 0 auto;
  font-size: 20px;
  box-sizing: border-box;
}

header {
  margin-top: 70px;
  text-align: center;
}

h1 {
  font-weight: 300;
  color: #979797;
}

h1 b {
  color: black;
}

input {
  border-radius: 20px;
  height: 40px;
}

#email {
  width: 400px;
}

#submit {
  width: 160px;
}
